body{ background-color:#98a5a5;
 }

h1{  width: 2000px;
	background-color:#d35649; 
   padding-top: 50px;
   border: 200px;
    weight: 2px;
    margin: 0px;
    margin-left: 0px;
    }
     
} 
{
   text-align: center;
}

h2{font-weight: 100;
	color: green;
} 

Footer { 
  width: 200px;
  color: green;
  padding-top:50px
  margin: 0px;
  weight: 2px;
  }
 {
 	font-display: ;
 }  
div {background color:#088 ;

 }